In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as dates
from matplotlib.ticker import AutoMinorLocator
import datetime as dt
import numpy as np
import gc
from sklearn import svm, preprocessing

In [2]:
df = pd.read_csv('user_movie_view.csv')
df.head()

   userId  movieId            tstamp
0   32451        1  22-09-2019 03:04
1   43715        1  01-10-2009 01:56
2   43715        1  17-04-2012 20:56
3   43715        1  23-09-2015 21:34
4   44282        1  01-01-2019 19:00

In [3]:
newdf = df.copy()
newdf.drop(newdf[newdf['movieId'] !=1].index, inplace=True)
newdf.tail()

      userId  movieId            tstamp
6303  357552        1  19-06-2020 23:31
6304  357552        1  20-06-2020 12:36
6305  357587        1  21-06-2020 03:23
6306  357589        1  20-06-2020 13:58
6307  357696        1  22-06-2020 00:09

In [6]:
df['movieId'].max()

2066

In [15]:
mindf = pd.DataFrame(columns=['movieId','timestamp'])
# mindf.head()
end = df['movieId'].max()
for i in range(1,end):
    newdf = df.copy()
    newdf.drop(newdf[newdf['movieId'] !=i].index, inplace=True)
    mindf.loc[i] = [i,newdf.tstamp.min()]

In [16]:
mindf.tail()

     movieId         timestamp
2061    2061  01-01-2009 17:01
2062    2062  01-08-2011 21:38
2063    2063  01-04-2012 08:46
2064    2064  01-01-2017 10:21
2065    2065  01-01-2007 16:19

In [17]:
mindf.to_csv('dataframe/first_date_of_each_movieId.csv')