In [2]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as dates
from matplotlib.ticker import AutoMinorLocator
import datetime as dt
import numpy as np
import gc
import seaborn as sns

In [3]:
df = pd.read_csv('tags.csv')
df.head()

   userId  movieId               tag  timestampForTag
0       3      260           classic       1439472355
1       3      260            sci-fi       1439472256
2       4     1732       dark comedy       1573943598
3       4     1732    great dialogue       1573943604
4       4     7569  so bad it's good       1573943455

In [4]:
tag_array = df['tag'].unique()

In [5]:
print(tag_array)

['classic' 'sci-fi' 'dark comedy' ... "Classic Children's Adventure"
 'Darryl Hannah' 'Mermaids']

In [6]:
tag_array.size

71308

In [17]:
n = 10
a = df['tag'].value_counts()[:n].index.tolist()

In [18]:
#del a[0]
print (a)

['sci-fi', 'atmospheric', 'action', 'comedy', 'surreal', 'based on a book', 'funny', 'twist ending', 'visually appealing', 'dystopia']